#hunger {
    position: absolute;
    left: 1.481%;
    bottom: 0.35%;
    width: 4.440%;
    height: 0.80%;
    padding: 0;
    border: 2px solid black;
    float:left;
    background:#545454;
    opacity: 0.7;
}
#thirst {
    position: absolute;
    left: 6.25%;
    bottom: 0.35%;
    width: 4.440%;
    height: 0.80%;
    padding: 0;
    border: 2px solid black;
    float:left;
    background:#545454;
    opacity: 0.7;
}

#drunk {
    position: absolute;
    left: 11.00%;
    bottom: 0.35%;
    width: 4.440%;
    height: 0.80%;
    padding: 0;
    border: 2px solid black;
    float:left;
    background:#545454;
    opacity: 0.7;
}


#boxDrunk, #boxHunger, #boxThirst {
    background: #73be73;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}

#boxHunger {
    background: #897924;
}
#boxThirst {
    background: #1E6E89;
}

#boxDrunk {
    background: #502F68;
}

body {
    overflow: hidden;
    height:1080px;
    width:100%;
}